.city {
  background-color: azure;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.city-berlin {
  background-image: url('./images/berlin/berlin111.jpg');
}

.city-london {
  background-image: url('./images/london/london444.jpg');
}

.city-madrid {
  background-image: url('./images/madrid/madrid111.jpg');
}

.city-madrid-222 {
  background-image: url('./images/madrid/madrid222.jpeg');
}

.city-madrid-333 {
  background-image: url('./images/madrid/madrid333.jpg');
}

.city-madrid-444 {
  background-image: url('./images/madrid/madrid444.jpg');
}


.city::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 0;
  pointer-events: none;
}

.city-infos {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 5rem 3rem 0;
  text-align: justify;
  color: white;
  padding-top: 20rem;
}


.city-infos h1 {
  padding-left: 2rem;
  ;
  flex: 0 0 30%;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4.5rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
  line-height: 4rem;
}


.city-infos p {
  flex: 1;
  padding-top: 3rem;
  font-size: 20px;
  line-height: 1.5em;

}


#feature-based-bar-plot-container {
  display: flex; /* Places children side by side */
  align-items: flex-start; /* Aligns to the top */
  gap: 100px; /* Space between filters and plot */
}

#feature-based-bar-plot-filters {
  width: 500px; 
}

#feature-based-bar-plot-chart {
  flex: 1; /* Takes the remaining space */
}



.london_density_map_container {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  height: 100vh;
  padding-top: 6rem;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 2rem;


}

.london_density_map_frame_container {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
  align-items: center;
}

.london_density_map_frame_container iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.london_density_map_text {
  flex: 0 0 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;


}

.london_density_map_text h1 {

  flex: 0 0 30%;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
  text-align: left;
  padding-left: 2rem;

}

.london_density_map_text p {
  flex: 1;
  font-size: 1.2rem;
  text-align: justify;



}


.london_treemap_container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  margin-top: 8rem;
  width: 100%;
}


.london_treemap_container iframe {
  flex: 0 0 50%;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-top: 2rem;

}


.london_treemap_text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.london_treemap_text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 2rem;
  padding-top: 2rem;

}

.london_treemap_text p {
  font-size: 1.2rem;
  text-align: justify;
  padding-left: 2rem;
  padding-top: 1rem;
  line-height: 1.5rem;
}

.london-barplot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin-top: 8rem;
  width: 100%;

}

.london-barplot-container iframe {
  flex: 0 0 45%;
  width: 100%;
  height: 100%;
  padding-left: 2rem;

}

.london-barplot-text {
  flex: 0 0 55%;
  display: flex;
  flex-direction: row;

  padding-right: 2rem;
  gap: 2rem;
}

.london-barplot-text h1 {
  flex: 0 0 35%;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 5rem;
  padding-top: 2rem;

}


.feature-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 3rem;
  color: white;
  font-size: 1rem;

}

.feature-box {

  padding: 0.5rem;
  line-height: 1.5rem;
  text-align: left;
}

.feature-box strong {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 1rem;
  text-align: left;
  /* aligns the big title to the left */
}



ul {
  text-align: justify;
  list-style: none;
  margin: 0;
}









.price-distribution-features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin-top: 8rem;
  width: 100%;

}

.price-distribution-features iframe {
  flex: 0 0 55%;
  width: 100%;
  height: 100%;
  padding-left: 2rem;

}

.price-distribution-features-text {
  flex: 0 0 55%;
  display: flex;
  flex-direction: row;

  padding-right: 2rem;
  gap: 2rem;
}

.price-distribution-features-text h1 {
  flex: 0 0 35%;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 4rem;


}

.price-distribution-features-text p {

  flex: 1;
  font-size: 1.2rem;
  text-align: justify;
  padding-left: 2rem;
  padding-top: 1rem;

}







.london-boxplot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin-top: 8rem;
  width: 100%;

}

.london-boxplot iframe {
  flex: 0 0 60%;
  width: 100%;
  height: 100%;
  padding-left: 4rem;

}

.london-boxplot-text {
  flex: 0 0 40%;
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  gap: 2rem;

}

.london-boxplot-text h1 {
  flex: 0 0 35%;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 5rem;

}

.london-boxplot-text p {
  flex: 1;
  font-size: 1.2rem;
  text-align: left;
  padding-top: 1rem;
  padding-left: 2rem;
}





.london-scatter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin-top: 8rem;
  width: 100%;
}

.london-scatter iframe {
  flex: 0 0 55%;
  width: 100%;
  height: 100%;
  padding-left: 4rem;
}

.london-scatter-plot-text {
  flex: 0 0 55%;
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  gap: 2rem;
}

.london-scatter-plot-text h1 {

  flex: 0 0 35%;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 4rem;
}

.london-scatter-plot-text p {
  flex: 1;
  font-size: 1.2rem;
  text-align: justify;
  padding-left: 2rem;
}





.london-diagram {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin-top: 8rem;
  width: 100%;
}

.london-diagram iframe {
  flex: 0 0 50%;
  width: 100%;
  height: 100%;
  padding-left: 4rem;
  margin-bottom: 2rem;
}

.london-diagram-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  gap: 2rem;
}

.london-diagram-text h1 {

  flex: 0 0 35%;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 4rem;
}

.london-diagram-text p {
  flex: 1;
  font-size: 1.2rem;
  text-align: justify;
  padding-left: 2rem;
}



.berlin-tooltip {
  position: absolute;
  padding: 8px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  z-index: 1000;
}








/* MADRID */

.madrid-map {
  height: 100vh;
  width: 100%;
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
}


.maps {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2rem;
  padding-left: 3rem;

}


.maps-legend {
  flex: 0 0 50%;
  flex-direction: column;
  text-align: justify;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
 
}



.energy-heating {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 9rem;
  padding-left: 2rem;
  padding-right: 5rem;

  gap: 2rem;

}

.iframes {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
  justify-content: space-evenly;

}

.energy-heating-text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  line-height: 1.5rem;
 

}






.iframes iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}


.energy-pie-chart {

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100vh;
  padding-top: 9rem;
  padding-left: 3rem;
  padding-right: 3rem;

}

.energy-pie-chart iframe {
  flex: 0 0 50%;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
 
}



.pie-chart-text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: justify;
  line-height: 1.5rem;
}






.berlin-heatmap {

  width: 100%;
  height: 100vh;
  display: flex;             
  flex-direction: row;         
  padding-top: 5rem;
                 
}

.heatmap-text {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;



}


.berlin-heatmap h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #fff;
  text-align: justify;
  padding-left: 2rem;

}


.berlin-heatmap ul {
  flex: 1;
  text-align: left;
  line-height: 1.70rem;

}

#map {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;              
}


.berlin-scatter {
  width: 100%;
  height: 100vh;
  display: flex;             
  flex-direction: column;         
  padding-top: 10rem;
  gap: 2rem;                   
}

.berlin-scatter iframe {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
             
}

.scatter-text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: row;
  text-align: justify;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  gap: 2rem;
}

.scatter-text p {
  flex: 1;
  text-align: justify;
  padding-top: 1rem;
  line-height: 1.5rem;
  padding-right: 3rem;
}

.scatter-text h1 {
  flex : 0 0 20%;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
  text-align: left;
  padding-left: 2rem;

}

.scatter-text-2 {
  flex: 1;
  display: flex;
  flex-direction: column;

}



.berlin-scatter-2 {
  width: 100%;
  height: 100vh;
  display: flex;             
  flex-direction: column;         
  padding-top: 10rem;
  gap: 2rem;                   
}

.berlin-scatter-2 iframe {
  flex: 0 0 55%;
  display: flex;
  justify-content: center;
  align-items: center;
             
}

.scatter-text-2 {
  flex: 0 0 45%;
  display: flex;
  flex-direction: row;
  text-align: justify;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;

  gap: 2rem;

}

.scatter-text-2 h1 {
  flex : 0 0 25%;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
  text-align: left;
  padding-left: 2rem;

}

.scatter-text-2 p {
  flex: 1;
  text-align: justify;
  padding-top: 1rem;
  line-height: 1.5rem;
}


.berlin-scatter-3 {
  width: 100%;
  height: 100vh;
  display: flex;             
  flex-direction: column;         
  padding-top: 10rem;
  gap: 2rem;       
  
}

.berlin-scatter-3 iframe {
  flex: 0 0 40%;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;;
             
}







.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  width: max-content;
}

.slide {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
}