/* CSS Document */

body, html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #141313;
  color: white;
  font-size: 16px;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
 
}





.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}




.scroll-nav {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}




nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 3em 5em 2em;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
  background-color: #1d1a1a;
  z-index: 998;

}



nav .logo {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav .city_nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: x-large;
  font-weight: 700;
}

nav .nav-links a {
  margin: 2em;
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: large;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
}

nav .nav-links a:hover {
  color: #948979;
  text-decoration: underline;
}


.nav-links .dropdown {
  position: relative; 
  display: inline-block; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #292525;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2); /* Example shadow */
  z-index: 10;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}



.intro {
  display: flex;
  flex-direction: row;
  font-size: xx-large;
  justify-content: space-even;
  background-image: url(./images/mainimage.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 5rem;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.intro::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}


.intro > * {
  position: relative;
  z-index: 2;
}


.intro-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: -5rem;
  margin-top: 5rem;
}

.earth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  position: relative;
  font-size: x-large;
  margin-bottom: 2rem;
}

.earth-text-left,
.earth-text-right,
.earth-image {
  flex: 1;
}


.earth-text-left {
  transform: translateY(-40px);
}


.earth-text-right {
  transform: translateY(40px);

}

.map-intro {
  text-align: center;
  margin-bottom: 2rem;
  padding-left: 25rem;
  padding-right: 25rem;
  font-size: x-large;
  font-weight: 600;
  line-height: 2.5rem;
  

}


.counters {
  width: 50%;
  display: flex;
  justify-content: space-evenly;

 
}

.counter h1 {
  font-size: 3.5rem;
  font-weight: bold;
}



.city-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2rem;
  flex-wrap: nowrap;
  
}

.city-card {
  position: relative;
  display: block;
  width: 475px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 3rem;
}

.city-card img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.city-card:hover img {
  transform: scale(1.05);
}

.city-name {
  position: absolute;
  top: -0.60rem;
  left: -0.75rem;
  right: -0.75rem;
  bottom: -0.60rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s ease;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color-dodge;
}

.city-card:hover .city-name {
  opacity: 1;
}








